{{!< default}}
<div class="container">
	<div class="jumbotron">
		<div class="jumbotron">
			<div class = "home">
				<img src="/images/logo.png">
				<p>Quem somos</p>
			</div>
			<div class = "home-second">
				<p>Somos Psicólogas e trabalhamos com crianças no Espectro do Autismo, com intervenções que visam o desenvolvimento global da criança, por meio do brincar livre e semi-estruturado.

				Em nosso trabalho temos visto ótimos e gratificantes resultados com a evolução das crianças. Com isso, surgiu a vontade de criarmos um espaço virtual para compartilharmos nossas conquistas, desafios, dificuldade e vitórias com profissionais, familiares, estudantes e o público em geral que tenha interesse em conhecer um pouco mais desta temática.

				É com imenso prazer que convidamos você para navegar no Autismo e o Terapeuta!</p>
			</div>
		</div>
	</div>
</div>
