<div class="container">
    <div class="jumbotron">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<article>
					<p><a href="/events">&larr; voltar aos eventos</a></p>
					<hr>
					<div class="news">
						{{#if data.news.image}}<img src={{data.news.image.url}} width=700 height=500 align=center>{{/if}}
					</div>
					<div class = "news">
						<center><h2>{{data.news.title}}</h2><br></center>
					</div>
					<div class="news" style = "white-space: initial; word-wrap: break-word; width: 700px;">
						<p lang="en" class="auto">{{{data.news.content.extended}}}</p>
					</div>
					{{#if data.news.link}}
						<p class="mais" style="float:right;"><a href="{{data.news.link}}">Fonte da matéria</a></p>
					{{/if}}
				</article>
			</div>
		</div>
	</div>
</div>